* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #1f1f1f;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}
.game-item {
  list-style-type: none;
  padding: 15px 2px;
  border-bottom: 1px solid #eaeaea;
  display: flex ;
  flex-flow: row wrap;
}

.game-time-date {
  padding: 5px 5px;
  flex:2 ;
}

.game-teams{
  padding: 5px 5px;
  flex:3 ;
}

.game-goals {
  padding: 5px 5px;
  flex:1 ;
}

.game-bet-button {
  flex:2 ;
  background: #333333;
  color: #FFF;
  padding: 15px 10px;
  cursor: pointer;
  float: right;
  outline: none;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #000000;
  margin-left: 2px ;
}

.game-bet-1x2 {
  float:left ;
  font-weight: bold;
}

.game-bet-multi {
  color: #FFFF99;
  float:right ;
  font-weight: bold;
}

.game-bet-multi-updated {
  color: #32CD32;
  float:right ;
  font-weight: bold;
}
